@model List<EcommerceCommon.Infrastructure.ViewModel.Admin.StaffAdminViewModel>
@{
    ViewData["Title"] = "GetStaffList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </div>




