@model Ecommerce.Service.ViewModels.Admin.ProductSizeModel.AddProductSizeViewModel
@{
    ViewData["Title"] = "CreateProductSize";
    Layout = null;
}


<form asp-action="Create" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" spellcheck="false" enctype="multipart/form-data">
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label" asp-for="@Model.Name"></label>
            </div>
            <div class="col-md-6 mr-auto">
                <div class="input-group">
                    <input asp-for="@Model.Name" class="form-control" placeholder="Nhập kích cỡ">
                </div>
            </div>
        </div>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </div>
</form>




