<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col footer-col colorlib-widget">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Về Giày</font>
                    </font>
                </h4>
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Ngay cả Pointing toàn năng cũng không kiểm soát
                            được các văn bản mù, nó là một cuộc sống gần như không chính thống
                        </font>
                    </font>
                </p>
                <p>
                </p>
                <ul class="colorlib-social-icons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                </ul>
                <p></p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Chăm sóc khách hàng</font>
                    </font>
                </h4>
                <p>
                </p>
                <ul class="colorlib-footer-links">
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Liên hệ</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Trả về / Trao đổi</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Phiếu quà tặng</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Danh sách mong muốn</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Đặc biệt</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Dịch vụ khách hàng</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Bản đồ trang web</font>
                            </font>
                        </a>
                    </li>
                </ul>
                <p></p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Thông tin</font>
                    </font>
                </h4>
                <p>
                </p>
                <ul class="colorlib-footer-links">
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Về chúng tôi</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Thông tin giao hàng</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Chính sách bảo mật</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ủng hộ</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Theo dõi đơn hàng</font>
                            </font>
                        </a>
                    </li>
                </ul>
                <p></p>
            </div>

            <div class="col footer-col">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Tin tức</font>
                    </font>
                </h4>
                <ul class="colorlib-footer-links">
                    <li>
                        <a href="blog.html">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Blog</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">nhấn</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Triển lãm</font>
                            </font>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col footer-col">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Thông tin liên lạc</font>
                    </font>
                </h4>
                <ul class="colorlib-footer-links">
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> Văn phòng: 38 Đê La Thành - Đống Đa - Hà Nội </font>
                        </font><br>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Showroom: 197 Khuất Duy Tiến - Thanh Xuân - Hà Nội</font>
                        </font>
                    </li>
                    <li>
                        <a href="tel://1234567920">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">0396988386</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@yoursite.com">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">hungnt.alphabe@gmail.com</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">alphabe.vn</font>
                            </font>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>