
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="row" style="margin:15px 0px 15px 0px; ">
                <img src="~/images/Success.png" style="display:block; margin-left:auto;margin-right:auto; width:100px;" />
            </div>
            <hr />
            <div class="row" style="text-align:center;">
                <p>
                    <b>Chúc Mừng!</b> Bạn đã tạo tài khoản thành công, chúng tôi đã gửi liên kết kích hoạt tải khoản đến địa
                    chỉ email @ViewBag.Email, vui lòng kiểm tra lại
                </p>
            </div>
            <div class="row">
                <a asp-action="Login" asp-controller="Login" class="btn btn-success ml-auto mr-auto">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>
<h1></h1>
