
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="row" style="margin:15px 0px 15px 0px; ">
                <img src="~/images/Success.png" style="display:block; margin-left:auto;margin-right:auto; width:100px;" />
            </div>
            <hr />
            <div class="row" style="text-align:center;">
                <p>
                    <b>Chúc Mừng!</b> Bạn đã đặt hàng thành công, chúng tôi sẽ giao hàng trong thời gian sớm nhất
                    , vui lòng kiểm tra lại khi nhận hàng
                </p>
            </div>
            <div class="row">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary ml-auto mr-auto">Tiếp tục mua sắm</a>
            </div>
        </div>
    </div>
</div>
<h1></h1>
